@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap');

$menu-bg: #fafafa;
$input-bg: #fff;
$border-color: #ebebeb;
$shadow-color: rgba(0,0,0,0.03);
$menu-text: #686868;
$circle-color: #d1d7dc;
$icon: #000;

$purple: #a872ff;
$red: #ff9797;
$blue: #75b1ff;
$green: #49d657;
$orange: #ffaf53;
$pink: #f781ed;

$red2: rgba($red, .2);
$purple2: rgba($purple, .2);
$blue2: rgba($blue, .2);
$green2: rgba($green, .2);
$orange2: rgba($orange, .2);
$pink2: rgba($pink, .2);

$red12: rgba($red, .12);
$purple12: rgba($purple, .12);
$blue12: rgba($blue, .12);
$green12: rgba($green, .12);
$orange12: rgba($orange, .12);
$pink12: rgba($pink, .12);


$text: #9195a1;
$check: #404040;
$disabled: #404040;


*{  
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100vw;
    overflow-x: hidden;
    overflow: hidden;
}

h1, h3, li{
    font-family: 'Lato', sans-serif;
}

:not(h1, h3, li){
    font-family: 'Raleway', sans-serif;
}

.title{
  top:0;
  left: 0;
  z-index: 100;
  max-width: 100vw;
  user-select: none;
  .macos-titlebar{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    overflow: hidden; 
    height: 35px;
    padding-left: 2vw; 
    padding-right: 10px;
    -webkit-app-region: drag;
    .task-button{
      display: flex; 
      justify-content: space-between; 
      align-items: center;
      height: 35px;
      padding-left: 74px; 
      padding-right: 10px;
    }
  }
}

.menu{
  height: 100%;
  position: fixed;
  width: 250px;
  z-index: 1;
  top: 35px;
  left: 0;
  overflow-x: hidden;
  padding: 25px 10px;
  .Search { 
    position: relative;
    width: 100%;

    input{ 
      outline: none; 
      resize: vertical; 
      line-height: 14px; 
      font-size: 14px; 
      box-sizing: border-box; 
      padding: 10px 15px;  
      width: 100%;
      border-radius: 5px; 
      text-transform: capitalize;

      &:valid + .reset + .submit{display: none;} 

      &:valid + .reset{display: block;}
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration { -webkit-appearance:none;
    }

    .submit{ 
      cursor: pointer; 
      text-transform: uppercase; 
      border: 0;
      background-color: transparent;
      position: absolute;
      top: 10px;
      right: 10px;

      svg{
        width: 13px;
        opacity: .5;
      }
    }

    button[type='reset']{ 
      cursor: pointer; 
      padding: 0px 10px; 
      background: none; 
      outline: none; 
      border:none;
      display: none;
      position: absolute; 
      right: 1px; 
      top: 12px;

      svg{
        width: 13px;
        opacity: .5;
      }
    }
  }

  .my-lists{
    margin-top: 50px;
  
    header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $menu-text;
      
      h3{
        font-weight: 400;
      }

      .list-btn{
        background-color: transparent;
        border: 0;
        font-size: 1.5rem;
        margin-right: 5px;
        cursor: pointer;
        color: $menu-text;
      }
    }

    .list{
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: 200;

        li{
          padding: 10px 15px;
          margin: 5px 0;
          cursor: pointer;
          overflow:hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: flex;
          align-items: center;
          color: $menu-text;
          
          span{
            margin-right: 5px;
            padding: 2px 5px;
            border-radius: 50%;
            svg{
              fill: #fff;
              width: 13px;   
              margin-top: 3px;          
           }
          }

          .color-red{
              background-color: $red;
          }

          .color-blue{
              background: $blue;
          }

          .color-green{
              background: $green;
          }

          .color-purple{
              background: $purple;
          }

          .color-orange{
              background: $orange;
          }

          .color-pink{
              background: $pink;
          }

          &:hover{
              opacity: .85;
          }

        }


        .color-red{
            background: $red2;
        }

        .color-blue{
            background: $blue2;
        }
        .color-green{
            background: $green2;
        }
        .color-purple{
            background: $purple2;
        }

        .color-orange{
            background: $orange2;
        }

        .color-pink{
            background: $pink2;
        }
      }
    }
  }

  .settings{
    position: absolute;
    bottom: 35px;
    display: flex;
    align-items: center;
    text-decoration: none;

    svg{
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }

  }

  .language, .theme{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    img{
      width: 23px;
      margin-right: 7px;
    }
  }

}

.setting-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div{
    margin: 10px 0;

    svg{
      width: 20px;
      margin-right: 7px;
    }
  }
}


main{
  margin-left: 242px;
  padding-left: 40px;
  height: 100%;

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .new-task-btn{
      background-color: transparent;
      border: 0;
      font-size: 2rem;
      margin-right: 20px;
      cursor: pointer;
    }

    h1{
        font-weight: 400;
    }
  }


  .task-add{
    margin: 20px 0 0 5px;
    span{
      display: inline-block;
      height: 2px;
      width: 8px;
      border-radius: 2px;
      margin: 0 15px 3px 0;
      
    }
    .task-input{
      border: 0;
      outline: 0;
      padding: 5px;
      font-size: 1rem;
      width: 50%;
      background-color: transparent;
      position: relative;
  
    }
  }
  
  

  .container{
    #checklist {
      position: relative;
      display: grid;
      grid-template-columns: 30px auto;
      align-items: center;
      margin-top: 30px;
  
      label {
        padding: 10px;
        color: $text;
        position: relative;
        cursor: pointer;
        display: grid;
        align-items: center;
        width: fit-content;
        transition: color .3s ease;
        &::before,
        &::after {
          content:"";
          position: absolute;
        }
        &::before {
          height: 2px;
          width: 8px;
          left: -27px;
          border-radius: 2px;
          transition: background .3s ease; 
        }
        &:after {
          height: 4px;
          width: 4px;
          top: 8px;
          left: -25px;
          border-radius: 50%;
        }
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        height: 15px;
        width: 15px;
        outline: none;
        border: 0;
        margin: 0 15px 0 0;
        cursor: pointer;
        display: grid;
        align-items: center;
        &::before,
        &::after {
          content:"";
          position: absolute;
          height: 2px;
          top: auto;
          background: $check;
          border-radius: 2px;
        }
        &::before {
          width: 0px;
          right: 60%;
          transform-origin: right bottom;
        }
        &::after {
          width: 0px;
          left: 40%;
          transform-origin: left bottom;
        }
        &:checked {
          &::before {
            animation: check-01 .4s ease forwards;
          }
          &::after {
            animation: check-02 .4s ease forwards;
          }
          + label {
            color: $disabled;
            animation: move .3s ease .1s forwards;
            &::before {
              background: $disabled;
              animation: slice .4s ease forwards;
            }
            &::after {
              animation: firework .5s ease forwards .1s;
            }
          }
        }
      }
      }
      
      @keyframes move {
        50% {
          padding-left: 8px;
          padding-right: 0px;
        }
        100% {
          padding-right: 4px;
        }
      }
      @keyframes slice {
        60% {
          width: 100%;
          left: 4px;
        }
        100% {
          width: 100%;
          left: -2px;
          padding-left: 0;
        }
      }
      @keyframes check-01 {
        0% {
          width: 4px;
          top: auto;
          transform: rotate(0);
        }
        50% {
          width: 0px;
          top: auto;
          transform: rotate(0);
        }
        51% {
          width: 0px;
          top: 8px;
          transform: rotate(45deg);
        }
        100% {
          width: 5px;
          top: 8px;
          transform: rotate(45deg);
        }
      }
      @keyframes check-02 {
        0% {
          width: 4px;
          top: auto;
          transform: rotate(0);
        }
        50% {
          width: 0px;
          top: auto;
          transform: rotate(0);
        }
        51% {
          width: 0px;
          top: 8px;
          transform: rotate(-45deg);
        }
        100% {
          width: 10px;
          top: 8px;
          transform: rotate(-45deg);
        }
      }
      @keyframes firework {
        0% {
          opacity: 1;
          box-shadow: 0 0 0 -2px $check, 0 0 0 -2px $check, 0 0 0 -2px $check, 0 0 0 -2px $check, 0 0 0 -2px $check, 0 0 0 -2px $check;
        }
        30% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          box-shadow: 0 -15px 0 0px $check, 14px -8px 0 0px $check, 14px 8px 0 0px $check, 0 15px 0 0px $check, -14px 8px 0 0px $check, -14px -8px 0 0px $check;
        }
    }
  }

  section[class$="content"]{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;

    label{
      margin-right: 10px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  $menu-bg: #191919;
  $main-bg: #202020;
  $input-bg: #333333;
  $border-color: #3d3d3d;
  $shadow-color: rgba(224, 224, 224, 0.295);
  $menu-text: #e7e7e7;
  $circle-color: #d1d7dc;
  $icon: #fff;


  $purple: #a766d3;
  $red: #e25757;
  $blue: #5fa4ff;
  $green: #2fc43e;
  $orange: #fc9b2d;
  $pink: #ff5df1;

  $red2: rgba($red, .6);
  $purple2: rgba($purple, .6);
  $blue2: rgba($blue, .6);
  $green2: rgba($green, .55);
  $orange2: rgba($orange, .55);
  $pink2: rgba($pink, .5);

  $text: #eeeeee;
  $check: #e7e7e7;
  $disabled: #a8a8a8;

  .title{
    background-color: $purple;
  }

  .menu{
    background-color: $menu-bg;
    input{
      background-color: $input-bg;
      color: $menu-text;
      border: 1px solid $border-color; 
      &:focus{ 
        box-shadow: 0px 0px 0px 1px $shadow-color;
      }
    }
    .Search{
      .submit{ 
        svg{
          fill: $icon;
        }
      }
      button[type='reset']{ 
        svg{
          fill: $icon;
        }
      }
    }
  }

  .setting-menu{
    color: $menu-text;
    div{
      svg{
        fill: $icon;
      }
    }
  }

  main{
      background-color: $main-bg;
      color: $icon;

      header{
          button{
              color: $icon;
          }
      }

    .task-add{
      span{
          background-color: $check;
      }
      input{
              color: $icon;
      }
    }
      
  }

  .container{
    #checklist{
      label{
        color: $text;
        &::before {
          background: $check;
        }
      }
    }
  }

  .settings{
    color: $menu-text;
    svg{
      fill: $icon;
    }
  }
  
}

@media (prefers-color-scheme: light) {
  $menu-bg: #fafafa;
  $main-bg: #fdfdfd;
  $input-bg: #fff;
  $border-color: #ebebeb;
  $shadow-color: rgba(0,0,0,0.03);
  $menu-text: #686868;
  $circle-color: #d1d7dc;
  $icon: #000;

  $purple: #a872ff;
  $red: #ff9797;
  $blue: #75b1ff;
  $green: #49d657;
  $orange: #ffaf53;
  $pink: #f781ed;

  $red2: rgba($red, .2);
  $purple2: rgba($purple, .2);
  $blue2: rgba($blue, .2);
  $green2: rgba($green, .2);
  $orange2: rgba($orange, .2);
  $pink2: rgba($pink, .2);

  $text: #9195a1;
  $check: #404040;
  $disabled: #404040;

  .title{
    background-color: $purple;
  }

  .menu{
    background-color: $menu-bg;
    input{
      background-color: $input-bg;
      color: $menu-text;
      border: 1px solid $border-color; 
      &:focus{ 
        box-shadow: 0px 0px 0px 1px $shadow-color;
      }
    }
    .Search{
      .submit{ 
        svg{
          fill: $icon;
        }
      }
      button[type='reset']{ 
        svg{
          fill: $icon;
        }
      }
    }
  }

  .setting-menu{
    color: $menu-text;
    div{
      svg{
        fill: $icon;
      }
    }
  }

  main{
      background-color: $main-bg;
      color: $icon;

      header{
          button{
              color: $icon;
          }
      }

    .task-add{
      span{
          background-color: $check;
      }
      input{
              color: $icon;
      }
    }
      
  }

  .container{
    #checklist{
      label{
        color: $text;
        &::before {
          background: $check;
        }
      }
    }
  }

  .settings{
    color: $menu-text;
    svg{
      fill: $icon;
    }
  }
  
}