@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

h1, h3, li {
  font-family: "Lato", sans-serif;
}

:not(h1, h3, li) {
  font-family: "Raleway", sans-serif;
}

.menu {
  height: 100%;
  position: fixed;
  width: 250px;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 25px 10px;
  background-color: #fafafa;
}
.menu .Search {
  position: relative;
  width: 100%;
}
.menu .Search input {
  outline: none;
  resize: vertical;
  line-height: 14px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ebebeb;
}
.menu .Search input:focus {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.03);
}
.menu .Search input:valid + .reset + .submit {
  display: none;
}
.menu .Search input:valid + .reset {
  display: block;
}
.menu .Search input[type=search]::-webkit-search-decoration,
.menu .Search input[type=search]::-webkit-search-cancel-button,
.menu .Search input[type=search]::-webkit-search-results-button,
.menu .Search input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.menu .Search .submit {
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 12px;
  top: 10px;
}
.menu .Search .submit img {
  width: 13px;
  opacity: 0.5;
  margin-top: 5px;
}
.menu .Search button[type=reset] {
  cursor: pointer;
  padding: 0px 10px;
  background: none;
  outline: none;
  border: none;
  display: none;
  position: absolute;
  right: 1px;
  top: 9px;
}
.menu .Search button[type=reset] img {
  width: 11px;
  opacity: 0.5;
  margin-top: 5px;
}
.menu .my-lists {
  margin-top: 50px;
}
.menu .my-lists header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #686868;
}
.menu .my-lists header h3 {
  font-weight: 400;
}
.menu .my-lists header .list-btn {
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  margin-right: 5px;
  cursor: pointer;
}
.menu .my-lists .list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 200;
}
.menu .my-lists .list ul li {
  padding: 10px 15px;
  margin: 5px 0;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  color: #696969;
}
.menu .my-lists .list ul li span {
  width: 13px;
  height: 13px;
  -webkit-mask: url(/img/list-text.svg);
          mask: url(/img/list-text.svg);
  margin-left: -7px;
  margin-right: 10px;
}
.menu .my-lists .list ul li .color-red {
  background: #ff9797;
}
.menu .my-lists .list ul li .color-blue {
  background: #75b1ff;
}
.menu .my-lists .list ul li .color-green {
  background: #49d657;
}
.menu .my-lists .list ul li .color-purple {
  background: #a872ff;
}
.menu .my-lists .list ul li .color-orange {
  background: #ffaf53;
}
.menu .my-lists .list ul li .color-pink {
  background: #f781ed;
}
.menu .my-lists .list ul li:hover {
  opacity: 0.85;
}
.menu .my-lists .list ul .color-red {
  background: rgba(255, 151, 151, 0.2);
}
.menu .my-lists .list ul .color-blue {
  background: rgba(117, 177, 255, 0.2);
}
.menu .my-lists .list ul .color-green {
  background: rgba(73, 214, 87, 0.2);
}
.menu .my-lists .list ul .color-purple {
  background: rgba(168, 114, 255, 0.2);
}
.menu .my-lists .list ul .color-orange {
  background: rgba(255, 175, 83, 0.2);
}
.menu .my-lists .list ul .color-pink {
  background: rgba(247, 129, 237, 0.2);
}

main {
  margin-left: 242px;
  padding-left: 40px;
  height: 100%;
}
main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main header .new-task-btn {
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  margin-right: 20px;
  cursor: pointer;
}
main header h1 {
  font-weight: 400;
}
main .task-add {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
main .task-add .circle {
  width: 17px;
  height: 17px;
  border: 2px solid #d1d7dc;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
}
main .task-add .task-input {
  border: 0;
  outline: 0;
  padding: 5px;
  font-size: 1rem;
  width: 50%;
  background-color: transparent;
}
main .container #checklist {
  position: relative;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  margin-top: 30px;
}
main .container #checklist label {
  padding: 10px;
  color: #414856;
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: color 0.3s ease;
}
main .container #checklist label::before, main .container #checklist label::after {
  content: "";
  position: absolute;
}
main .container #checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: #4F29F0;
  border-radius: 2px;
  transition: background 0.3s ease;
}
main .container #checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
main .container #checklist input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  display: grid;
  align-items: center;
}
main .container #checklist input[type=checkbox]::before, main .container #checklist input[type=checkbox]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: #4F29F0;
  border-radius: 2px;
}
main .container #checklist input[type=checkbox]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}
main .container #checklist input[type=checkbox]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}
main .container #checklist input[type=checkbox]:checked::before {
  -webkit-animation: check-01 0.4s ease forwards;
          animation: check-01 0.4s ease forwards;
}
main .container #checklist input[type=checkbox]:checked::after {
  -webkit-animation: check-02 0.4s ease forwards;
          animation: check-02 0.4s ease forwards;
}
main .container #checklist input[type=checkbox]:checked + label {
  color: #9195a1;
  -webkit-animation: move 0.3s ease 0.1s forwards;
          animation: move 0.3s ease 0.1s forwards;
}
main .container #checklist input[type=checkbox]:checked + label::before {
  background: #9195a1;
  -webkit-animation: slice 0.4s ease forwards;
          animation: slice 0.4s ease forwards;
}
main .container #checklist input[type=checkbox]:checked + label::after {
  -webkit-animation: firework 0.5s ease forwards 0.1s;
          animation: firework 0.5s ease forwards 0.1s;
}
@-webkit-keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@-webkit-keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@-webkit-keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@-webkit-keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@-webkit-keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
  }
}
@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
  }
}/*# sourceMappingURL=style.css.map */