@use "mixins";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-ExtraBold.woff2?v=3.19") format("woff2"),
       url("Inter-ExtraBold.woff?v=3.19") format("woff");
}

$menu-text: #686868;
$text: #9195a1;
$check: #404040;
$disabled: #404040;

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  overflow: hidden;
  position: relative;
}

h1,
h3,
li {
  font-family: "Lato", sans-serif;
}

:not(h1, h3, li) {
  font-family: "Raleway", sans-serif;
}


@mixin flex-display($display, $align-items, $justify-content) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;

  .title-bar {
    background-color: #686769;
    user-select: none;
    height: 35px;
    width: 100vw;
    @include flex-display(flex, center, normal);
    -webkit-app-region: drag;
    transition: background-color .5s;

    .macos-title-bar {
      .button-container {
        @include flex-display(flex, center, normal);
        padding-left: 85px;
        padding-right: 10px;
        color: #fff;

        .normal-button {
          @include flex-display(flex, center, normal);
          padding: 4px;
          border-radius: 3px;
          cursor: pointer;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }

          svg {
            width: 15px;
            height: 15px;
            fill: #fff;
            margin-right: 7px;
          }

          p {
            font-size: 0.8rem;
            margin: 0;
            cursor: pointer;
          }
        }
      }
    }
  }

  .main {
    text-align: left;
    height: 100vh;
    width: 100%;
    flex: 1;
    order: 2;
    overflow: hidden;
    padding: 0 30px 50px;
    position: relative;

    header {
      @include flex-display(flex, center, space-between);
	  
      .new-task-btn {
        @include flex-display(flex, center, center);
        background-color: transparent;
        border: 0;
        border-radius: 50%;
        font-size: 2rem;
        margin-right: 20px;
        padding: 0 6px;
        height: 1.6rem;
        cursor: pointer;
        transition: all 0.6s ease-in-out;

        &:focus{
          border-width: 1px;
          border-style: solid;
        }
      }

      h1 {
        font-weight: 400;
      }
    }

    .task-add {
      margin: 20px 0 0 5px;

      span {
        display: inline-block;
        height: 2px;
        width: 8px;
        border-radius: 2px;
        margin: 0 15px 3px 0;
      }

      .task-input {
        border: 0;
        outline: 0;
        padding: 5px;
        font-size: 1rem;
        width: 50%;
        background-color: transparent;
        position: relative;
      }
    }

    .container {
      margin-top: 30px;
      height: calc(100% - 150px);
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0.8vw;
      }

      #todolist {
        position: relative;
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;

        label {
          padding: 10px;
          color: $text;
          position: relative;
          cursor: pointer;
          display: grid;
          align-items: center;
          width: fit-content;
          transition: color 0.3s ease;

          &::before,
          &::after {
            content: "";
            position: absolute;
          }

          &::before {
            height: 2px;
            width: 8px;
            left: -27px;
            border-radius: 2px;
            background-color: $text;
            transition: background 0.3s ease;
          }

          &:after {
            height: 4px;
            width: 4px;
            top: 8px;
            left: -25px;
            border-radius: 50%;
          }
        }

        input[type="checkbox"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          position: relative;
          height: 15px;
          width: 15px;
          outline: none;
          border: 0;
          margin: 0 15px 0 0;
          cursor: pointer;
          display: grid;
          align-items: center;

          &::before,
          &::after {
            content: "";
            position: absolute;
            height: 2px;
            top: auto;
            background: $check;
            border-radius: 2px;
          }

          &::before {
            width: 0;
            right: 60%;
            transform-origin: right bottom;
          }

          &::after {
            width: 0;
            left: 40%;
            transform-origin: left bottom;
          }

          &:checked {
            &::before {
              animation: check-01 0.4s ease forwards;
            }

            &::after {
              animation: check-02 0.4s ease forwards;
            }

            + label {
              color: $disabled;
              animation: move 0.3s ease 0.1s forwards;

              &::before {
                background: $disabled;
                animation: slice 0.4s ease forwards;
              }

              &::after {
                animation: firework 0.5s ease forwards 0.1s;
              }
            }
          }
        }
      }

      @keyframes move {
        50% {
          padding-left: 8px;
          padding-right: 0;
        }
        100% {
          padding-right: 4px;
        }
      }
      @keyframes slice {
        60% {
          width: 100%;
          left: 4px;
        }
        100% {
          width: 100%;
          left: -2px;
          padding-left: 0;
        }
      }
      @keyframes check-01 {
        0% {
          width: 4px;
          top: auto;
          transform: rotate(0);
        }
        50% {
          width: 0;
          top: auto;
          transform: rotate(0);
        }
        51% {
          width: 0;
          top: 8px;
          transform: rotate(45deg);
        }
        100% {
          width: 5px;
          top: 8px;
          transform: rotate(45deg);
        }
      }
      @keyframes check-02 {
        0% {
          width: 4px;
          top: auto;
          transform: rotate(0);
        }
        50% {
          width: 0;
          top: auto;
          transform: rotate(0);
        }
        51% {
          width: 0;
          top: 8px;
          transform: rotate(-45deg);
        }
        100% {
          width: 10px;
          top: 8px;
          transform: rotate(-45deg);
        }
      }
      @keyframes firework {
        0% {
          opacity: 1;
          box-shadow: 0 0 0 -2px $check, 0 0 0 -2px $check, 0 0 0 -2px $check,
          0 0 0 -2px $check, 0 0 0 -2px $check, 0 0 0 -2px $check;
        }
        30% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          box-shadow: 0 -15px 0 $check, 14px -8px 0 0 $check,
          14px 8px 0 0 $check, 0 15px 0 0 $check, -14px 8px 0 0 $check,
          -14px -8px 0 0 $check;
        }
      }
    }

    .completed-items{
      padding: 0 50px 0 30px;
      width: 100%;
      border-top-width: 1px;
      border-top-style: solid;
      position: absolute;
      bottom: 35px;
      left: 0;

      header{
        @include flex-display(flex, center, space-between);
        cursor: pointer;

        p{
          font-size: .9rem;
        }

        .tracking-out-expand {
          -webkit-animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                  animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        .tracking-in-expand{
          -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }

        @-webkit-keyframes tracking-in-expand {
          0% {
            letter-spacing: -0.5em;
            opacity: 0;
          }
          40% {
            opacity: 0.6;
          }
          100% {
            opacity: 1;
          }
        }
        @keyframes tracking-in-expand {
          0% {
            letter-spacing: -0.5em;
            opacity: 0;
          }
          40% {
            opacity: 0.6;
          }
          100% {
            opacity: 1;
          }
        }

        @-webkit-keyframes tracking-out-expand {
          0% {
            opacity: 1;
          }
          60% {
            opacity: 0.8;
          }
          100% {
            letter-spacing: .1em;
            opacity: 0;
          }
        }
        @keyframes tracking-out-expand {
          0% {
            opacity: 1;
          }
          60% {
            opacity: 0.8;
          }
          100% {
            letter-spacing: .1em;
            opacity: 0;
          }
        }
      }
    }

    .content {
      height: 100vh;

      header {
        margin-bottom: 10px;
        h1 {
          font-size: 1rem;
          z-index: 1;
          color: rgba(255, 255, 255, 0.9);
          border-bottom-width: 1px;
          border-bottom-style: solid; 
          border-bottom-color: rgba(255, 255, 255, 0.07);
          margin-bottom: 16px; 
          padding-bottom: 12px;
          font-weight: 500; 
          width: 100%;
        }
      }
      
      .selection{
        label{
          display: block;
          margin-bottom: 15px;
        }
      }

      .info-box{
        padding:15px;
        margin-top: 30px;
        @include flex-display(flex, center, center);
        border-radius: .4rem;
        
        svg{
          margin-right:10px;
          min-width: 17px;
        }

        a{
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    #language-section{
      .selectNative,
      .selectCustom {
        position: relative;
        width: 180px;
      }

      .selectCustom {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        border-radius: .4rem;
      }

      // This media query detects devices where the primary
      // input mechanism can hover over elements. (e.g. computers with a mouse)
      @media (hover: hover) {
        // Since we are using a mouse, it's safe to show the custom select.
        .selectCustom {
          display: block;
        }

        // In a computer using keyboard? Then let's hide back the custom select
        // while the native one is focused:
        .selectNative:focus + .selectCustom {
          display: none;
        }
      }

      .selectNative:focus,
      .selectCustom.isActive .selectCustom-trigger {
        outline: none;
      }

      .select {
        position: relative;
      }

      .selectWrapper {
        position: relative;
      }

      .selectNative,
      .selectCustom-trigger {
        font-size: 1rem;
        border-radius: .4rem;
      }

      .selectCustom-trigger {
        position: relative;
        width: 100%;
        height: 100%;
        padding: .5rem .8rem;
        cursor: pointer;
      }

      .selectCustom-trigger::after {
        content: "";
        width: 6px;
        height: 6px;
        border: 2px solid;
        position: absolute;
        right: 10px;
        top: 10px;
        transform: rotate(45deg);
      }

      .selectCustom.isActive .selectCustom-trigger::after{
          top: 17px;
          transform: rotate(225deg);
          transition: all .4s;
      }

      .selectCustom-options {
        position: absolute;
        top: calc(30px + .7rem);
        left: 0;
        width: 100%;
        border-width: 1px;
        border-style: solid;
        border-radius: 0.4rem;
        z-index: 1;
        display: none;
      }

      .selectCustom.isActive .selectCustom-options {
        display: block;
      }

      .selectCustom-option {
        position: relative;
        padding: .8rem .8rem .8rem 1.5rem;
        border-radius: 0.4rem;
      }

      .selectCustom-option.isHover,
      .selectCustom-option:hover {
        opacity: .9;
        cursor: pointer;
      }
    }

    #appearance-section{
      p{
        margin-top: 0;
      }
      .appearance-selection{
        margin-left: -35px;
        margin-top: -10px;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        label{
          width: 30%;
          min-width: 200px;
          input { 
            display: none;
  
            &:hover + figure,
            &:checked + figure{
              img{
                border-width: 2px;
                border-style: solid;
              }
            }
          }

          figure {
            width: 100%;
            min-width: 200px;
            img{
              cursor: pointer;
              width: 100%;
              min-width: 200px;
              height: auto;
              border-radius: .4rem;
            }

            figcaption{
              text-align: center;
            }
          }
        }
      }
    }

    #functionality-section{
      .functionality-selection{
        @include flex-display(flex, center, space-between);

        .switch {
          width: 0;
          height: 0;
          visibility: hidden;

          &:checked{
            + label:after {
              left: calc(100% - 4px);
              transform: translateX(-100%);
            }

            + label {
              background-color: #2e464b;
            }
          } 
        }  
        label {
          display: block;
          width: 45px;
          height: 22px;
          background-color: #477a85;
          border-radius: 100px;
          position: relative;
          cursor: pointer;
          transition: .4s;
          box-shadow: 0 0 3px #477a8550;

          &::after {
            content: "";
            width: 15px;
            height: 15px;
            background-color: #e8f5f7;
            position: absolute;
            border-radius: 50%;
            top: 4px;
            left: 3px;
            transition: .4s;
          }
        }
      }
    }
  }

  aside{
    order: 1;
    height: 100vh;
    min-width: 23vw;
    max-width: 35vw;
    padding: 25px 10px;
    user-select: none;
    .resizer{
      width: 3px;
      height: 100vh;
      cursor: col-resize;
      position: absolute;
      right: 0;
      top: 0;
    }
  }


  .preferences-menu {
    padding: 25px 10px;
    text-align: start;
    position: relative;

    .menu-section{
      margin-bottom:35px;

      &:not(:first-of-type){
        padding-top: 40px;
      }

      .title{
        font-family: 'Inter';
        font-size: .75rem;
        font-weight: 500;
        margin: 0;
        margin-bottom: 5px;
        padding-left: 10px;
        text-transform: uppercase;
      }
      .menu-item {
        cursor: pointer;
        padding: 10px 20px;
        width: 100%;
        text-decoration: none;
        border-radius: 7px;

        svg {
          width: 20px;
          margin-right: 10px;
          cursor: pointer;
          margin-bottom: -5px;
        }
  
        p {
          display: inline;
          font-size: .9rem;
        }
      }
    }
    
  }

  .default-menu {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .menu-content{
      .search {
        position: relative;
        width: 100%;
  
        input {
          outline: none;
          resize: vertical;
          line-height: 14px;
          font-size: 14px;
          box-sizing: border-box;
          padding: 10px 15px;
          width: 100%;
          border-radius: 5px;
  
          &:valid + .reset + .submit {
            display: none;
          }
  
          &:valid + .reset {
            display: block;
          }
        }
  
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
          -webkit-appearance: none;
        }
  
        .submit {
          cursor: pointer;
          text-transform: uppercase;
          border: 0;
          background-color: transparent;
          position: absolute;
          top: 10px;
          right: 10px;
  
          svg {
            width: 13px;
            opacity: 0.5;
          }
        }
  
        button[type="reset"] {
          cursor: pointer;
          padding: 0 10px;
          background: none;
          outline: none;
          border: none;
          display: none;
          position: absolute;
          right: 1px;
          top: 12px;
  
          svg {
            width: 13px;
            opacity: 0.5;
          }
        }
      }
  
      .my-lists {
        margin-top: 50px;
        position: relative;
        width: 100%;
        height: 90%;
  
        header {
          @include flex-display(flex, center, space-between);
          color: $menu-text;
  
          h3 {
            font-weight: 400;
          }
  
          .list-btn {
            background-color: transparent;
            border: 0;
            font-size: 1.5rem;
            margin-right: 5px;
            cursor: pointer;
            color: $menu-text;
          }
        }
  
        .list {
          position: absolute;
          height: 90%;
          width: 100%;
  
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-weight: 200;
            height: 55vw;
            overflow-y: auto;
  
            &::-webkit-scrollbar {
              width: 1.2vw;
            }
  
            li {
              padding: 10px 15px;
              margin: 5px 0;
              cursor: pointer;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              @include flex-display(flex, center, normal);
  
              &:first-child {
                margin-top: 0;
              }
  
              &:last-child {
                margin-bottom: 0;
              }
  
              span {
                margin-right: 5px;
                padding: 2px 5px;
                border-radius: 50%;
  
                svg {
                  fill: #fff;
                  width: 13px;
                  margin-top: 3px;
                }
              }
  
              &:hover {
                opacity: 0.85;
              }
            }
          }
        }
      }
    }

    .deleted-items{
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 10px;
      width: 100%;
      font-size: 1rem;

      p{
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
}

.pre-loader{
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  @include flex-display(flex, center, center);
  z-index: 3;
  width:100vw;
  height:100vh;

  .loader{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
  }
}

.target {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  @include flex-display(flex, center, center);
}

.contextMenu {
  height: 0;
  overflow: hidden;
  backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  animation: menuAnimation 0.4s 0s both;
  transform-origin: left;
  list-style: none;
  margin: 4px;
  padding: 0;
  display: flex;
  flex-direction: column;

  &-item {
    padding: 4px;
  }

  &-item[data-divider="top"] {
    border-top: 1px solid;
  }

  &-item[data-divider="bottom"] {
    border-bottom: 1px solid;
  }

  &-item[data-divider="top-bottom"] {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }

  &-button {
    background: 0;
    border: 0;
    white-space: nowrap;
    width: 100%;
    border-radius: 4px;
    padding: 6px 24px 6px 7px;
    text-align: left;
    display: flex;
    align-items: center;
    font-size: 14px;
    animation: menuItemAnimation 0.2s 0s both;
    font-family: "Inter", sans-serif;
    cursor: pointer;
  }
}

@keyframes menuAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    height: var(--height);
    opacity: 1;
    border-radius: 8px;
    transform: scale(1);
  }
}

@keyframes menuItemAnimation {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

