@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow: hidden;
  position: relative;
}

h1,
h3,
li {
  font-family: "Lato", sans-serif;
}

:not(h1, h3, li) {
  font-family: "Raleway", sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}
.wrapper .title-bar {
  background-color: #686769;
  user-select: none;
  height: 35px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: normal;
  -webkit-app-region: drag;
}
.wrapper .title-bar .macos-title-bar .button-container {
  display: flex;
  align-items: center;
  justify-content: normal;
  padding-left: 85px;
  padding-right: 10px;
  color: #fff;
}
.wrapper .title-bar .macos-title-bar .button-container .normal-button {
  display: flex;
  align-items: center;
  justify-content: normal;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
}
.wrapper .title-bar .macos-title-bar .button-container .normal-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.wrapper .title-bar .macos-title-bar .button-container .normal-button svg {
  width: 15px;
  height: 15px;
  fill: #fff;
  margin-right: 7px;
}
.wrapper .title-bar .macos-title-bar .button-container .normal-button p {
  font-size: 0.8rem;
  margin: 0;
  cursor: pointer;
}
.wrapper .main {
  text-align: left;
  height: 100vh;
  flex: 1;
  order: 2;
  overflow: hidden;
  padding: 0 30px 50px 30px;
}
.wrapper .main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .main header .new-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  font-size: 2rem;
  margin-right: 20px;
  padding: 0 6px;
  height: 1.6rem;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.wrapper .main header .new-task-btn:focus {
  border-width: 1px;
  border-style: solid;
}
.wrapper .main header h1 {
  font-weight: 400;
}
.wrapper .main .task-add {
  margin: 20px 0 0 5px;
}
.wrapper .main .task-add span {
  display: inline-block;
  height: 2px;
  width: 8px;
  border-radius: 2px;
  margin: 0 15px 3px 0;
}
.wrapper .main .task-add .task-input {
  border: 0;
  outline: 0;
  padding: 5px;
  font-size: 1rem;
  width: 50%;
  background-color: transparent;
  position: relative;
}
.wrapper .main .container {
  margin-top: 30px;
  height: 70%;
  overflow-y: auto;
}
.wrapper .main .container::-webkit-scrollbar {
  width: 0.8vw;
}
.wrapper .main .container #todolist {
  position: relative;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
}
.wrapper .main .container #todolist label {
  padding: 10px;
  color: #9195a1;
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
}
.wrapper .main .container #todolist label::before, .wrapper .main .container #todolist label::after {
  content: "";
  position: absolute;
}
.wrapper .main .container #todolist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  border-radius: 2px;
  background-color: #9195a1;
  transition: background 0.3s ease;
}
.wrapper .main .container #todolist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
.wrapper .main .container #todolist input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  display: grid;
  align-items: center;
}
.wrapper .main .container #todolist input[type=checkbox]::before, .wrapper .main .container #todolist input[type=checkbox]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: #404040;
  border-radius: 2px;
}
.wrapper .main .container #todolist input[type=checkbox]::before {
  width: 0;
  right: 60%;
  transform-origin: right bottom;
}
.wrapper .main .container #todolist input[type=checkbox]::after {
  width: 0;
  left: 40%;
  transform-origin: left bottom;
}
.wrapper .main .container #todolist input[type=checkbox]:checked::before {
  animation: check-01 0.4s ease forwards;
}
.wrapper .main .container #todolist input[type=checkbox]:checked::after {
  animation: check-02 0.4s ease forwards;
}
.wrapper .main .container #todolist input[type=checkbox]:checked + label {
  color: #404040;
  animation: move 0.3s ease 0.1s forwards;
}
.wrapper .main .container #todolist input[type=checkbox]:checked + label::before {
  background: #404040;
  animation: slice 0.4s ease forwards;
}
.wrapper .main .container #todolist input[type=checkbox]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}
@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0;
  }
  100% {
    padding-right: 4px;
  }
}
@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #404040, 0 0 0 -2px #404040, 0 0 0 -2px #404040, 0 0 0 -2px #404040, 0 0 0 -2px #404040, 0 0 0 -2px #404040;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #404040, 14px -8px 0 0px #404040, 14px 8px 0 0px #404040, 0 15px 0 0px #404040, -14px 8px 0 0px #404040, -14px -8px 0 0px #404040;
  }
}
.wrapper .main .content {
  flex-direction: column;
  height: 100vh;
}
.wrapper .main .content header {
  margin-bottom: 10px;
}
.wrapper .main .content header h1 {
  font-size: 1.5rem;
  z-index: 1;
  color: rgba(255, 255, 255, 0.9);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.07);
  margin-bottom: 16px;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}
.wrapper .main .content .selection label {
  display: block;
  margin-bottom: 15px;
}
.wrapper .main .content .info-box {
  padding: 15px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
}
.wrapper .main .content .info-box svg {
  margin-right: 10px;
  min-width: 17px;
}
.wrapper .main .content .info-box a {
  text-decoration: none;
  cursor: pointer;
}
.wrapper .main #language-section .selectNative,
.wrapper .main #language-section .selectCustom {
  position: relative;
  width: 180px;
}
.wrapper .main #language-section .selectCustom {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  border-radius: 0.4rem;
}
@media (hover: hover) {
  .wrapper .main #language-section .selectCustom {
    display: block;
  }
  .wrapper .main #language-section .selectNative:focus + .selectCustom {
    display: none;
  }
}
.wrapper .main #language-section .selectNative:focus,
.wrapper .main #language-section .selectCustom.isActive .selectCustom-trigger {
  outline: none;
}
.wrapper .main #language-section .select {
  position: relative;
}
.wrapper .main #language-section .selectWrapper {
  position: relative;
}
.wrapper .main #language-section .selectNative,
.wrapper .main #language-section .selectCustom-trigger {
  font-size: 1rem;
  border-radius: 0.4rem;
}
.wrapper .main #language-section .selectCustom-trigger {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}
.wrapper .main #language-section .selectCustom-trigger::after {
  content: "";
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-color: transparent rgba(73, 54, 54, 0.4) rgba(73, 54, 54, 0.4) transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  transform: rotate(45deg);
}
.wrapper .main #language-section .selectCustom.isActive .selectCustom-trigger::after {
  top: 17px;
  transform: rotate(225deg);
  transition: all 0.4s;
}
.wrapper .main #language-section .selectCustom-options {
  position: absolute;
  top: calc(30px + 0.7rem);
  left: 0;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.4rem;
  z-index: 1;
  display: none;
}
.wrapper .main #language-section .selectCustom.isActive .selectCustom-options {
  display: block;
}
.wrapper .main #language-section .selectCustom-option {
  position: relative;
  padding: 0.8rem;
  padding-left: 1.5rem;
  border-radius: 0.4rem;
}
.wrapper .main #language-section .selectCustom-option.isHover,
.wrapper .main #language-section .selectCustom-option:hover {
  opacity: 0.9;
  cursor: pointer;
}
.wrapper .main #appearance-section p {
  margin-top: 0;
}
.wrapper .main #appearance-section .appearance-selection {
  margin-left: -35px;
  margin-top: -10px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.wrapper .main #appearance-section .appearance-selection label {
  width: 30%;
  min-width: 200px;
}
.wrapper .main #appearance-section .appearance-selection label input {
  display: none;
}
.wrapper .main #appearance-section .appearance-selection label input:hover + figure img, .wrapper .main #appearance-section .appearance-selection label input:checked + figure img {
  border-width: 2px;
  border-style: solid;
}
.wrapper .main #appearance-section .appearance-selection label figure {
  width: 100%;
  min-width: 200px;
}
.wrapper .main #appearance-section .appearance-selection label figure img {
  cursor: pointer;
  width: 100%;
  min-width: 200px;
  height: auto;
  border-radius: 0.4rem;
}
.wrapper .main #appearance-section .appearance-selection label figure figcaption {
  text-align: center;
}
.wrapper aside {
  order: 1;
  height: 100vh;
  max-width: 280px;
  flex-direction: column;
  padding: 25px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.wrapper .preferences-menu {
  padding: 25px 30px;
}
.wrapper .preferences-menu .menu-item {
  margin: 10px 0;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-decoration: none;
}
.wrapper .preferences-menu .menu-item svg {
  width: 20px;
  margin-right: 7px;
  cursor: pointer;
  margin-bottom: -5px;
}
.wrapper .preferences-menu .menu-item p {
  display: inline;
}
.wrapper .default-menu {
  overflow: hidden;
}
.wrapper .default-menu .search {
  position: relative;
  width: 100%;
}
.wrapper .default-menu .search input {
  outline: none;
  resize: vertical;
  line-height: 14px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
}
.wrapper .default-menu .search input:valid + .reset + .submit {
  display: none;
}
.wrapper .default-menu .search input:valid + .reset {
  display: block;
}
.wrapper .default-menu .search input[type=search]::-webkit-search-decoration,
.wrapper .default-menu .search input[type=search]::-webkit-search-cancel-button,
.wrapper .default-menu .search input[type=search]::-webkit-search-results-button,
.wrapper .default-menu .search input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.wrapper .default-menu .search .submit {
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}
.wrapper .default-menu .search .submit svg {
  width: 13px;
  opacity: 0.5;
}
.wrapper .default-menu .search button[type=reset] {
  cursor: pointer;
  padding: 0 10px;
  background: none;
  outline: none;
  border: none;
  display: none;
  position: absolute;
  right: 1px;
  top: 12px;
}
.wrapper .default-menu .search button[type=reset] svg {
  width: 13px;
  opacity: 0.5;
}
.wrapper .default-menu .my-lists {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 90%;
}
.wrapper .default-menu .my-lists header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #686868;
}
.wrapper .default-menu .my-lists header h3 {
  font-weight: 400;
}
.wrapper .default-menu .my-lists header .list-btn {
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  margin-right: 5px;
  cursor: pointer;
  color: #686868;
}
.wrapper .default-menu .my-lists .list {
  position: absolute;
  height: 90%;
  width: 100%;
}
.wrapper .default-menu .my-lists .list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 200;
  height: 55vw;
  overflow-y: auto;
}
.wrapper .default-menu .my-lists .list ul::-webkit-scrollbar {
  width: 1.2vw;
}
.wrapper .default-menu .my-lists .list ul li {
  padding: 10px 15px;
  margin: 5px 0;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: normal;
}
.wrapper .default-menu .my-lists .list ul li:first-child {
  margin-top: 0;
}
.wrapper .default-menu .my-lists .list ul li:last-child {
  margin-bottom: 0;
}
.wrapper .default-menu .my-lists .list ul li span {
  margin-right: 5px;
  padding: 2px 5px;
  border-radius: 50%;
}
.wrapper .default-menu .my-lists .list ul li span svg {
  fill: #fff;
  width: 13px;
  margin-top: 3px;
}
.wrapper .default-menu .my-lists .list ul li:hover {
  opacity: 0.85;
}

.pre-loader {
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  width: 100vw;
  height: 100vh;
}
.pre-loader .loader {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}

@media (prefers-color-scheme: dark) {
  .pre-loader {
    background-color: #202020;
  }
  .pre-loader .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .wrapper .default-menu {
    background-color: #191919;
  }
  .wrapper .default-menu input {
    background-color: #333333;
    color: #e7e7e7;
    border: 1px solid #3d3d3d;
  }
  .wrapper .default-menu input:focus {
    box-shadow: 0 0 0 1px rgba(224, 224, 224, 0.295);
  }
  .wrapper .default-menu .search .submit svg {
    fill: #fff;
  }
  .wrapper .default-menu .search button[type=reset] svg {
    fill: #fff;
  }
  .wrapper .default-menu .my-lists ul li {
    color: #e7e7e7;
  }
  .wrapper .default-menu .my-lists ul li .color-red {
    background-color: #e25757;
  }
  .wrapper .default-menu .my-lists ul li .color-blue {
    background-color: #5fa4ff;
  }
  .wrapper .default-menu .my-lists ul li .color-green {
    background-color: #2fc43e;
  }
  .wrapper .default-menu .my-lists ul li .color-purple {
    background-color: #a766d3;
  }
  .wrapper .default-menu .my-lists ul li .color-orange {
    background-color: #fc9b2d;
  }
  .wrapper .default-menu .my-lists ul li .color-pink {
    background-color: #ff5df1;
  }
  .wrapper .default-menu .my-lists ul .color-red {
    background-color: rgba(226, 87, 87, 0.4);
  }
  .wrapper .default-menu .my-lists ul .color-blue {
    background-color: rgba(95, 164, 255, 0.4);
  }
  .wrapper .default-menu .my-lists ul .color-green {
    background-color: rgba(47, 196, 62, 0.4);
  }
  .wrapper .default-menu .my-lists ul .color-purple {
    background-color: rgba(167, 102, 211, 0.4);
  }
  .wrapper .default-menu .my-lists ul .color-orange {
    background-color: rgba(252, 155, 45, 0.4);
  }
  .wrapper .default-menu .my-lists ul .color-pink {
    background-color: rgba(255, 93, 241, 0.4);
  }
  .wrapper .default-menu .my-lists ul::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .wrapper .default-menu .my-lists ul::-webkit-scrollbar-thumb {
    background-color: #111010;
    border-radius: 1rem;
  }
  .wrapper .default-menu .my-lists ul::-webkit-scrollbar-thumb:hover {
    background-color: rgba(13, 12, 12, 0.4);
  }
  .wrapper .preferences-menu {
    color: #e7e7e7;
    text-align: center;
    background-color: #191919;
  }
  .wrapper .preferences-menu .menu-item {
    color: #e7e7e7;
  }
  .wrapper .preferences-menu .menu-item:hover {
    background-color: #111111;
    color: #fff;
    border-radius: 15px;
  }
  .wrapper .preferences-menu .menu-item svg {
    fill: #fff;
  }
  .wrapper .preferences-menu .menu-item a {
    color: #e7e7e7;
  }
  .wrapper .main {
    background-color: #202020;
    color: #fff;
  }
  .wrapper .main header button {
    color: #fff;
  }
  .wrapper .main header button:focus {
    border-color: #3d3d3d;
  }
  .wrapper .main .task-add span {
    background-color: #a8a8a8;
  }
  .wrapper .main .task-add input {
    color: #fff;
  }
  .wrapper .main .container #checklist label {
    color: #eeeeee;
  }
  .wrapper .main .container #checklist label::before {
    background: #e7e7e7;
  }
  .wrapper .main .container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .wrapper .main .container::-webkit-scrollbar-thumb {
    background-color: #111010;
    border-radius: 1rem;
  }
  .wrapper .main .container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(13, 12, 12, 0.4);
  }
  .wrapper .main .content header h1 {
    color: #eeeeee;
    border-bottom-color: #2a2a2a;
  }
  .wrapper .main #language-section .info-box {
    background-color: rgba(95, 164, 255, 0.7);
    color: #173864 !important;
    border: 1px solid #173864;
  }
  .wrapper .main #language-section .info-box svg {
    fill: #173864;
  }
  .wrapper .main #language-section .info-box a {
    color: #173864;
  }
  .wrapper .main #language-section .info-box a:hover {
    color: #11243b;
  }
  .wrapper .main #language-section .selectCustom-options {
    color: #eeeeee;
    background-color: #333333;
    border-color: #3d3d3d;
  }
  .wrapper .main #language-section .selectCustom-option.isHover,
.wrapper .main #language-section .selectCustom-option:hover {
    background-color: #191919;
  }
  .wrapper .main #language-section .selectNative,
.wrapper .main #language-section .selectCustom-trigger {
    background-color: #333333;
    border: 1px solid #3d3d3d;
  }
  .wrapper .main #language-section .selectCustom-trigger::after {
    border-color: transparent #b3b7b9 #b3b7b9 transparent;
  }
  .wrapper .main #language-section .selectCustom-trigger:hover {
    border-color: #b3b7b9;
  }
  .wrapper .main #appearance-section label input:hover + figure img {
    border-color: #3d3d3d;
  }
  .wrapper .main #appearance-section label input:checked + figure img {
    border-color: #b3b7b9;
  }
}
@media (prefers-color-scheme: light) {
  .pre-loader {
    background-color: #fdfdfd;
  }
  .pre-loader .loader {
    border: 4px solid #8e9098;
    border-top: 4px solid #3498db;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .wrapper .default-menu {
    background-color: #f7f7f7;
  }
  .wrapper .default-menu input {
    background-color: #fff;
    color: #686868;
    border: 1px solid #ebebeb;
  }
  .wrapper .default-menu input:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03);
  }
  .wrapper .default-menu .search .submit svg {
    fill: #000;
  }
  .wrapper .default-menu .search button[type=reset] svg {
    fill: #000;
  }
  .wrapper .default-menu .my-lists ul li {
    color: #686868;
  }
  .wrapper .default-menu .my-lists ul li .color-purple {
    background-color: #a872ff;
  }
  .wrapper .default-menu .my-lists ul li .color-red {
    background-color: #ff9797;
  }
  .wrapper .default-menu .my-lists ul li .color-blue {
    background-color: #75b1ff;
  }
  .wrapper .default-menu .my-lists ul li .color-green {
    background-color: #49d657;
  }
  .wrapper .default-menu .my-lists ul li .color-orange {
    background-color: #ffaf53;
  }
  .wrapper .default-menu .my-lists ul li .color-pink {
    background-color: #f781ed;
  }
  .wrapper .default-menu .my-lists ul .color-purple {
    background-color: rgba(168, 114, 255, 0.4);
  }
  .wrapper .default-menu .my-lists ul .color-red {
    background-color: rgba(255, 151, 151, 0.4);
  }
  .wrapper .default-menu .my-lists ul .color-blue {
    background-color: rgba(117, 177, 255, 0.4);
  }
  .wrapper .default-menu .my-lists ul .color-green {
    background-color: rgba(73, 214, 87, 0.4);
  }
  .wrapper .default-menu .my-lists ul .color-orange {
    background-color: rgba(255, 175, 83, 0.4);
  }
  .wrapper .default-menu .my-lists ul .color-pink {
    background-color: rgba(247, 129, 237, 0.4);
  }
  .wrapper .default-menu .my-lists ul::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .wrapper .default-menu .my-lists ul::-webkit-scrollbar-thumb {
    background-color: rgba(17, 16, 16, 0.7);
    border-radius: 1rem;
  }
  .wrapper .default-menu .my-lists ul::-webkit-scrollbar-thumb:hover {
    background-color: rgba(13, 12, 12, 0.6);
  }
  .wrapper .preferences-menu {
    color: #686868;
    text-align: center;
    background-color: #f7f7f7;
  }
  .wrapper .preferences-menu .menu-item {
    color: #686868;
  }
  .wrapper .preferences-menu .menu-item:hover {
    background-color: #efefef;
    color: #000;
    border-radius: 15px;
  }
  .wrapper .preferences-menu .menu-item svg {
    fill: #000;
  }
  .wrapper .preferences-menu .menu-item a {
    color: #686868;
  }
  .wrapper .main {
    background-color: #fdfdfd;
    color: #000;
  }
  .wrapper .main header button {
    color: #000;
  }
  .wrapper .main header button:focus {
    border-color: #ebebeb;
  }
  .wrapper .main .task-add span {
    background-color: #404040;
  }
  .wrapper .main .task-add input {
    color: #000;
  }
  .wrapper .main .container #checklist label {
    color: #9195a1;
  }
  .wrapper .main .container #checklist label::before {
    background: #404040;
  }
  .wrapper .main .container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .wrapper .main .container::-webkit-scrollbar-thumb {
    background-color: rgba(17, 16, 16, 0.7);
    border-radius: 1rem;
  }
  .wrapper .main .container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(13, 12, 12, 0.6);
  }
  .wrapper .main .content header h1 {
    color: #494A4E;
    border-bottom-color: #e3e0e0;
  }
  .wrapper .main #language-section .info-box {
    background-color: #8cbeff;
    color: #3880d7 !important;
    border: 1px solid #3880d7;
  }
  .wrapper .main #language-section .info-box svg {
    fill: #3880d7;
  }
  .wrapper .main #language-section .info-box a {
    color: #3880d7;
  }
  .wrapper .main #language-section .info-box a:hover {
    color: #224e83;
  }
  .wrapper .main #language-section .selectCustom-options {
    color: #9195a1;
    background-color: #fff;
    border-color: #ebebeb;
  }
  .wrapper .main #language-section .selectCustom-option.isHover,
.wrapper .main #language-section .selectCustom-option:hover {
    background-color: #f7f7f7;
  }
  .wrapper .main #language-section .selectNative,
.wrapper .main #language-section .selectCustom-trigger {
    background-color: #fff;
    border: 1px solid #ebebeb;
  }
  .wrapper .main #language-section .selectCustom-trigger::after {
    border-color: transparent #d1d7dc #d1d7dc transparent;
  }
  .wrapper .main #language-section .selectCustom-trigger:hover {
    border-color: #d1d7dc;
  }
  .wrapper .main #appearance-section label input:hover + figure img {
    border-color: #ebebeb;
  }
  .wrapper .main #appearance-section label input:checked + figure img {
    border-color: #d1d7dc;
  }
}

/*# sourceMappingURL=style.css.map */
